<main class="container mt-5" role="main">
    <div class="jumbotron">
        <h3 class="mb-4"> Nuevo Producto </h3>
        
        <%= form_for @product do |f| %>
        
        <div class="form-group">
            <p>Nombre</p>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <p>Descripcion</p>
            <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="form-group">
            <p>Precio</p>
            <%= f.number_field :price, class: "form-control" %>
        </div>
        <div style="margin: 0 auto;" class="text-center">
            <%= f.submit "Enviar", class: "btn btn-success col-6 mt-3" %>
        </div>

        <% end %>

    </div>
</main>
 
    <br><br>